.full-height {
  height: 100vh;
}

.section {
  border: 1px solid $color-gray;
  border-radius: 4px;
  padding: $offset-small;

  &.padding-large {
    padding: $offset-standard;
  }
}

.section-divider {
  width: $offset-small;
}

label {
  font-weight: 700;
}

md-list {
  md-list-item {
    padding: 0;
    &, & button {
      transition: all .1s;
    }

    &.selected {
      &, & button:hover {
        background-color: $color-blue !important;
        color: #fff;
      }
    }
  }
}

.buttons-wrapper-divider {
  width: calc(100% + #{$offset-standard});
  position: relative;
  left: -$offset-small;
  padding-top: $offset-small;
  border-top: 1px solid $color-gray;
}

md-input-container {
  display: block;
  margin: $offset-small 0 0 0;
}

md-card md-card-title {
  padding: 0 0 $offset-standard 0;
}

.mt {
  margin-top: $offset-standard;
}

.padding-small {
  padding: $offset-small;
}

.padding-standard {
  padding: $offset-standard;
}

.loader-wrapper {
  text-align: center;
  padding: $offset-standard 0;
}

#loading-bar {
  position: absolute;
  width: 100vw;
  .bar {
    background: none;
    background-image: linear-gradient(to right, $color-gray, $color-blue);
    .peg {
      box-shadow: $color-light-green 5px 2px 15px 2px;
    }
  }
}