<md-input-container>
  <label>Template</label>
  <md-select ng-model="users.selectedTemplate">
    <md-option ng-repeat="template in vm.templates" value="{{::template.name}}">
      {{::template.name}}
    </md-option>
  </md-select>
</md-input-container>
<div layout="row">
  <div flex>
    <div>
      <label>{{::vm.possibleOptionsTitle}}</label>
    </div>
    <md-list>
      <md-list-item ng-repeat="option in vm.possibleOptions"
                    ng-click="vm.addOptionToSelected($index)">
        <p>{{::option.name}}<i class="material-icons">arrow_forward</i></p>
      </md-list-item>
    </md-list>
  </div>
  <div flex>
    <div>
      <label>{{::vm.selectedOptionsTitle}}</label>
    </div>
    <md-list>
      <md-list-item ng-repeat="option in vm.selectedOptions"
                    ng-click="vm.removeOptionFromSelected($index)">
        <p>{{::option.name}}<i class="material-icons">arrow_back</i></p>
      </md-list-item>
    </md-list>
  </div>
</div>