<div>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">General</span>
      </md-card-title-text>
    </md-card-title>
    <form name="vm.userForm" autocomplete="off">
      <mantl-user-form user="vm.selectedUser" form="vm.userForm"></mantl-user-form>
    </form>
  </md-card>
</div>
<div layout="row" class="actions-wrapper">
  <md-button ng-click="vm.retireUser()"
             ng-if="vm.selectedUser.id"
             class="md-warn md-raised">Retire
  </md-button>
  <span flex></span>
  <md-button ng-click="vm.updateUserInfo()" ng-if="vm.selectedUser.id" class="md-primary md-raised">
    Submit
  </md-button>
  <md-button ng-click="vm.discard()" class="md-raised">Discard</md-button>
</div>