<md-toolbar layout="row" layout-align="center center">

  <md-button ui-sref="main.users" class="logo">UAM</md-button>

  <section flex layout="row" layout-align="left center">
    <md-button ng-repeat="link in vm.links"
               ng-class="{active: link.state === vm.activeState}"
               ui-sref="{{::link.state}}"
               class="md-raised">
      {{::link.text}}
    </md-button>
  </section>

  <md-button>Welcome, {{ vm.user.name }}</md-button>
  <md-button ui-sref="login" class="md-raised">Log out</md-button>

</md-toolbar>
