.users-wrapper {
  .cards-wrapper {
    height: calc(100vh - 171px);
    overflow-y: auto;

    md-card {
      padding: $offset-standard;
    }
  }

  .actions-wrapper-divider {
    width: calc(100% + #{$offset-standard});
    position: relative;
    left: -$offset-small;
    padding-top: $offset-small;
    border-top: 1px solid $color-gray;
  }

  .actions-wrapper {
    padding: $offset-small;
  }
}