<div layout="row" class="users-wrapper">
  <div flex="25">
    <mantl-user-select selected="users.selected"></mantl-user-select>
  </div>
  <div class="section-divider"></div>
  <div flex layout="column">
    <div class="section">
      <div flex layout="row">
        <div flex class="cards-wrapper">
          <md-card ng-if="users.selectedAccount === 0">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">General</span>
              </md-card-title-text>
            </md-card-title>
            <md-input-container>
              <label>First Name</label>
              <input ng-model="users.selected.firstName" type="text">
            </md-input-container>
            <md-input-container>
              <label>Last Name</label>
              <input ng-model="users.selected.lastName" type="text">
            </md-input-container>
            <md-input-container>
              <label>Unique ID</label>
              <input ng-model="users.selected.id" type="text">
            </md-input-container>
            <md-input-container>
              <label>Email</label>
              <input ng-model="users.selected.email" type="email">
            </md-input-container>
          </md-card>
          <md-card ng-if="users.selectedAccount === 1">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">GApps</span>
              </md-card-title-text>
            </md-card-title>
            <mantl-templates-select templates="users.templates"
                                    possible-options-title="'All Mailgroups:'"
                                    selected-options-title="'User Mailgroups:'">
            </mantl-templates-select>
          </md-card>
          <md-card ng-if="users.selectedAccount === 2">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Git</span>
              </md-card-title-text>
            </md-card-title>
            <mantl-templates-select templates="users.templates"
                                    possible-options-title="'All Projects:'"
                                    selected-options-title="'User Projects:'">
            </mantl-templates-select>
          </md-card>
          <md-card ng-if="users.selectedAccount === 3">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Jira</span>
              </md-card-title-text>
            </md-card-title>
            <mantl-templates-select templates="users.templates"
                                    possible-options-title="'All Projects:'"
                                    selected-options-title="'User Projects:'">
            </mantl-templates-select>
          </md-card>
          <md-card ng-if="users.selectedAccount === 4">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">AD</span>
              </md-card-title-text>
            </md-card-title>
            <p>
              <b>Date of birth:</b>
            </p>
            <md-datepicker ng-model="users.birthday"></md-datepicker>
            <mantl-templates-select templates="users.templates"
                                    possible-options-title="'All Groups:'"
                                    selected-options-title="'User Groups:'">
            </mantl-templates-select>
          </md-card>
        </div>
        <div layout="column" class="buttons-wrapper">
          <md-button ng-repeat="account in users.accounts"
                     ng-click="users.selectedAccount = $index"
                     ng-class="{'md-primary': users.selectedAccount === $index}"
                     class="md-raised">
            {{::account.name}}
          </md-button>
        </div>
      </div>
      <div class="buttons-wrapper-divider"></div>
      <div layout="row" class="actions-wrapper">
        <div flex>
          <md-button class="md-warn md-raised">Retire</md-button>
        </div>
        <md-button class="md-primary md-raised">Save</md-button>
        <md-button class="md-raised">Discard</md-button>
      </div>
    </div>
  </div>
</div>