<div layout="row" class="users-wrapper">
  <div flex="25">
    <uam-user-select selected="users.selected"
                     selected-backup-copy="users.selectedUserBackupCopy">
    </uam-user-select>
  </div>
  <div class="section-divider"></div>
  <div flex layout="column">
    <div class="section">
      <div flex layout="row">
        <div flex class="accounts-wrapper">
          <uam-general-user-info ng-if="users.selectedAccount === 0"
                                 selected-user="users.selected">
          </uam-general-user-info>
          <uam-gapps-account-info ng-if="users.selectedAccount === 1"
                                  selected-user="users.selected">
          </uam-gapps-account-info>
          <uam-git-account-info ng-if="users.selectedAccount === 2"
                                selected-user="users.selected">
          </uam-git-account-info>
          <uam-jira-account-info ng-if="users.selectedAccount === 3"
                                 selected-user="users.selected">
          </uam-jira-account-info>
          <uam-ad-account-info ng-if="users.selectedAccount === 4"
                               selected-user="users.selected">
          </uam-ad-account-info>
        </div>
        <div layout="column" class="buttons-wrapper">
          <md-button ng-repeat="account in users.accounts"
                     ng-click="users.selectedAccount = $index"
                     ng-class="{'md-primary': users.selectedAccount === $index}"
                     class="md-raised">
            {{::account.name}}
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>