mantl-user-select {
  .search-query-wrapper {
    padding-bottom: 0;
  }

  .user-list {
    height: calc(100vh - 261px);
    min-height: 100px;
    overflow-y: auto;

    &.opaque {
      height: calc(100vh - 254px - 80px); //80 is the height of loader spinner
      opacity: 0;
    }
  }
}